<div class="title">
    <h1>Albums</h1>
</div>
<div class='container'>
    {{#each data.body.items}}
    <div class='result-list'>
        {{#if images.0.url}}
        <img src='{{images.0.url}}' alt='{{name}}'>
        {{else}}
        <img src='http://www.healthline.com/hlcmsresource/images/medical-reviewer/placeholder-man.png' alt='{{name}}'>
        {{/if}}
        <div class='album-footer'>
            {{name}}
            <a href="/tracks/{{id}}">View Tracks</a>
        </div>
    </div>
    <hr>
    {{/each}}
</div>